.about-section{
    padding: 100px 0;

    .about-container{
        display: flex;
        justify-content: space-between;

        .about-left{
            position: relative;
            padding-right: 50px;

            span{
                font-size: 1em;
                font-weight: 300;
            }

            h2{
                margin-top: 20px;
                font-size: 3em;
                font-weight: 400;
                text-transform: uppercase;
            }

            .work-illustration img{
              mix-blend-mode: multiply;
            }

            .work-illustration{
              position: relative;
              display: flex;
              justify-content: center;
              margin-top: 80px;
              opacity: 0;
              transition: opacity 0.5s ease-in-out;

              img{
                mix-blend-mode: multiply;
                width: 100%;
                height: auto;
                
              }

              &.visible{

                img{
                  mix-blend-mode: multiply;
                }

                opacity: 1;
              }

              &.visible{
                opacity: 1;
              }
              
              
            }
        }

        .about-right{
            position: relative;
            border-left: 1px solid $primary;
            padding: 0 50px 50px 50px;

            p{
                font-size: 1.2em;
                font-weight: 300;
                line-height: 1.2em;
                margin: 10px 0;
                padding: 20px 0;
                border-bottom: 1px solid $primary;

                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}


/* About.css */
.about-right p {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .about-right p.visible {
    opacity: 1;
  }

  .about-left h2 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .about-left h2.visible {
    opacity: 1;
  }
  .about-left span {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .about-left span.visible {
    opacity: 1;
  }
