@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800;900&family=Lato:wght@400&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gridrowfull {
  width: 100%;
}

.gridrow {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 750px) {
  .gridrow {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .gridrow {
    width: 1170px;
  }
}

.gridrowfull, .gridrow {
  display: flex;
  flex-wrap: wrap;
}
.gridrowfull .col, .gridrow .col {
  flex: 1;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .col-1, .gridrow .col-1 {
  box-sizing: border-box;
  width: 8.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-1, .gridrow .offset-1 {
  margin-left: 8.3333333333%;
}
.gridrowfull .col-2, .gridrow .col-2 {
  box-sizing: border-box;
  width: 16.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-2, .gridrow .offset-2 {
  margin-left: 16.6666666667%;
}
.gridrowfull .col-3, .gridrow .col-3 {
  box-sizing: border-box;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-3, .gridrow .offset-3 {
  margin-left: 25%;
}
.gridrowfull .col-4, .gridrow .col-4 {
  box-sizing: border-box;
  width: 33.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-4, .gridrow .offset-4 {
  margin-left: 33.3333333333%;
}
.gridrowfull .col-5, .gridrow .col-5 {
  box-sizing: border-box;
  width: 41.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-5, .gridrow .offset-5 {
  margin-left: 41.6666666667%;
}
.gridrowfull .col-6, .gridrow .col-6 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-6, .gridrow .offset-6 {
  margin-left: 50%;
}
.gridrowfull .col-7, .gridrow .col-7 {
  box-sizing: border-box;
  width: 58.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-7, .gridrow .offset-7 {
  margin-left: 58.3333333333%;
}
.gridrowfull .col-8, .gridrow .col-8 {
  box-sizing: border-box;
  width: 66.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-8, .gridrow .offset-8 {
  margin-left: 66.6666666667%;
}
.gridrowfull .col-9, .gridrow .col-9 {
  box-sizing: border-box;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-9, .gridrow .offset-9 {
  margin-left: 75%;
}
.gridrowfull .col-10, .gridrow .col-10 {
  box-sizing: border-box;
  width: 83.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-10, .gridrow .offset-10 {
  margin-left: 83.3333333333%;
}
.gridrowfull .col-11, .gridrow .col-11 {
  box-sizing: border-box;
  width: 91.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-11, .gridrow .offset-11 {
  margin-left: 91.6666666667%;
}
.gridrowfull .col-12, .gridrow .col-12 {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-12, .gridrow .offset-12 {
  margin-left: 100%;
}
@media (min-width: 750px) {
  .gridrowfull .col-t, .gridrow .col-t {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t, .gridrow .offset-t {
    margin-left: 0;
  }
  .gridrowfull .col-t-1, .gridrow .col-t-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-1, .gridrow .offset-t-1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col-t-2, .gridrow .col-t-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-2, .gridrow .offset-t-2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col-t-3, .gridrow .col-t-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-3, .gridrow .offset-t-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-t-4, .gridrow .col-t-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-4, .gridrow .offset-t-4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col-t-5, .gridrow .col-t-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-5, .gridrow .offset-t-5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col-t-6, .gridrow .col-t-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-6, .gridrow .offset-t-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-t-7, .gridrow .col-t-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-7, .gridrow .offset-t-7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col-t-8, .gridrow .col-t-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-8, .gridrow .offset-t-8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col-t-9, .gridrow .col-t-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-9, .gridrow .offset-t-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-t-10, .gridrow .col-t-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-10, .gridrow .offset-t-10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col-t-11, .gridrow .col-t-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-11, .gridrow .offset-t-11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col-t-12, .gridrow .col-t-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-12, .gridrow .offset-t-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .gridrowfull .col-d, .gridrow .col-d {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d, .gridrow .offset-d {
    margin-left: 0;
  }
  .gridrowfull .col-d-1, .gridrow .col-d-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-1, .gridrow .offset-d-1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col-d-2, .gridrow .col-d-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-2, .gridrow .offset-d-2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col-d-3, .gridrow .col-d-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-3, .gridrow .offset-d-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-d-4, .gridrow .col-d-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-4, .gridrow .offset-d-4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col-d-5, .gridrow .col-d-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-5, .gridrow .offset-d-5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col-d-6, .gridrow .col-d-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-6, .gridrow .offset-d-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-d-7, .gridrow .col-d-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-7, .gridrow .offset-d-7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col-d-8, .gridrow .col-d-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-8, .gridrow .offset-d-8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col-d-9, .gridrow .col-d-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-9, .gridrow .offset-d-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-d-10, .gridrow .col-d-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-10, .gridrow .offset-d-10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col-d-11, .gridrow .col-d-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-11, .gridrow .offset-d-11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col-d-12, .gridrow .col-d-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-12, .gridrow .offset-d-12 {
    margin-left: 100%;
  }
}
.gridrowfull.nogutter .col, .gridrowfull.nogutter .col-t, .gridrowfull.nogutter .col-d, .gridrow.nogutter .col, .gridrow.nogutter .col-t, .gridrow.nogutter .col-d {
  padding: 0;
}
.gridrowfull.nogutter .col-1, .gridrowfull.nogutter .col-t-1, .gridrowfull.nogutter .col-d-1, .gridrow.nogutter .col-1, .gridrow.nogutter .col-t-1, .gridrow.nogutter .col-d-1 {
  padding: 0;
}
.gridrowfull.nogutter .col-2, .gridrowfull.nogutter .col-t-2, .gridrowfull.nogutter .col-d-2, .gridrow.nogutter .col-2, .gridrow.nogutter .col-t-2, .gridrow.nogutter .col-d-2 {
  padding: 0;
}
.gridrowfull.nogutter .col-3, .gridrowfull.nogutter .col-t-3, .gridrowfull.nogutter .col-d-3, .gridrow.nogutter .col-3, .gridrow.nogutter .col-t-3, .gridrow.nogutter .col-d-3 {
  padding: 0;
}
.gridrowfull.nogutter .col-4, .gridrowfull.nogutter .col-t-4, .gridrowfull.nogutter .col-d-4, .gridrow.nogutter .col-4, .gridrow.nogutter .col-t-4, .gridrow.nogutter .col-d-4 {
  padding: 0;
}
.gridrowfull.nogutter .col-5, .gridrowfull.nogutter .col-t-5, .gridrowfull.nogutter .col-d-5, .gridrow.nogutter .col-5, .gridrow.nogutter .col-t-5, .gridrow.nogutter .col-d-5 {
  padding: 0;
}
.gridrowfull.nogutter .col-6, .gridrowfull.nogutter .col-t-6, .gridrowfull.nogutter .col-d-6, .gridrow.nogutter .col-6, .gridrow.nogutter .col-t-6, .gridrow.nogutter .col-d-6 {
  padding: 0;
}
.gridrowfull.nogutter .col-7, .gridrowfull.nogutter .col-t-7, .gridrowfull.nogutter .col-d-7, .gridrow.nogutter .col-7, .gridrow.nogutter .col-t-7, .gridrow.nogutter .col-d-7 {
  padding: 0;
}
.gridrowfull.nogutter .col-8, .gridrowfull.nogutter .col-t-8, .gridrowfull.nogutter .col-d-8, .gridrow.nogutter .col-8, .gridrow.nogutter .col-t-8, .gridrow.nogutter .col-d-8 {
  padding: 0;
}
.gridrowfull.nogutter .col-9, .gridrowfull.nogutter .col-t-9, .gridrowfull.nogutter .col-d-9, .gridrow.nogutter .col-9, .gridrow.nogutter .col-t-9, .gridrow.nogutter .col-d-9 {
  padding: 0;
}
.gridrowfull.nogutter .col-10, .gridrowfull.nogutter .col-t-10, .gridrowfull.nogutter .col-d-10, .gridrow.nogutter .col-10, .gridrow.nogutter .col-t-10, .gridrow.nogutter .col-d-10 {
  padding: 0;
}
.gridrowfull.nogutter .col-11, .gridrowfull.nogutter .col-t-11, .gridrowfull.nogutter .col-d-11, .gridrow.nogutter .col-11, .gridrow.nogutter .col-t-11, .gridrow.nogutter .col-d-11 {
  padding: 0;
}
.gridrowfull.nogutter .col-12, .gridrowfull.nogutter .col-t-12, .gridrowfull.nogutter .col-d-12, .gridrow.nogutter .col-12, .gridrow.nogutter .col-t-12, .gridrow.nogutter .col-d-12 {
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
  color: #0D0D0D;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
}
@media (min-width: 750px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* ======================== */
/* ======= HEADINGS ======= */
/* ======================== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin: 0;
  line-height: 1.414;
}

h1, .h1, h2, .h2 {
  font-size: 2.2rem;
}

p, li, div, span, a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

* {
  font-family: "Lato", sans-serif;
  color: #0D0D0D;
}

/* ============================== */
/* ======= TEXT ALIGNMENT ======= */
/* ============================== */
.textleft {
  text-align: left;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  body .cursor {
    display: none;
  }
  body .anchor-top {
    right: 20px;
    bottom: 20px;
  }
  body .menu .pages .page-item {
    display: none;
  }
  body .menu .pages .page-item.contact-item {
    display: flex;
    margin: 0;
  }
  body .cover-section .cover-left .cover-title span {
    font-size: 3em;
  }
  body .cover-section .cover-left .cover-title p {
    font-size: 1.8em;
  }
  body .about-section .about-container {
    flex-wrap: wrap;
  }
  body .about-section .about-container .about-left {
    padding: 0;
  }
  body .about-section .about-container .about-left h2 {
    font-size: 2em;
  }
  body .about-section .about-container .about-right {
    padding: 0;
    margin-top: 20px;
    border-left: none;
  }
  body .steps-section .steps-title {
    padding: 50px 15px;
  }
  body .steps-section .steps-title h3 {
    text-align: center;
    font-size: 2em;
  }
  body .steps-section .steps-container {
    padding: 0 15px;
    margin-top: 20px;
    padding-bottom: 100px;
  }
  body .steps-section .steps-container .steps {
    padding: 0;
    border-left: none;
  }
  body .steps-section .steps-container .steps .titleStep h4 {
    text-align: center;
  }
  body .steps-section .steps-container .steps .textStep span {
    display: flex;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  body .steps-section .steps-container .last-step-button {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  body .work-section {
    margin-top: 50px;
    padding: 50px 0;
    border-top: none;
  }
  body .work-section .work-container .work-left {
    padding-right: 15px;
    border-right: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  body .work-section .work-container .work-left h3 {
    text-align: center;
    font-size: 2em;
  }
  body .work-section .work-container .work-left p {
    margin-top: 40px;
    text-align: center;
  }
  body .work-section .work-container .work-right {
    padding: 0 15px;
  }
  body .work-section .work-container .work-right .work-item {
    margin: 30px 0;
    padding: 15px 0;
  }
  body .work-section .work-container .work-right .work-item .work-item-main a {
    line-height: 1.2em;
  }
  body .work-section .work-container .work-right {
    margin-top: 40px;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  body .contact-section {
    display: flex;
    flex-wrap: wrap;
  }
  body .contact-section .contact-container {
    display: flex;
    flex-wrap: wrap;
  }
  body .contact-section .contact-container .contact-left .question-username {
    margin-top: 40px;
  }
  body .contact-section .contact-container .contact-right {
    margin-top: 50px;
    padding: 0 15px;
    border-left: none;
  }
}
/* Tablet devices (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body .cursor {
    display: none;
  }
  body .menu .pages .page-item {
    display: none;
  }
  body .menu .pages .page-item.contact-item {
    display: flex;
  }
  body .cover-section .cover-left .cover-title span {
    font-size: 4em;
  }
  body .about-section .about-container {
    flex-wrap: wrap;
  }
  body .about-section .about-container .about-right {
    margin-top: 50px;
    padding: 0 40px;
  }
  body .steps-section .steps-container {
    padding: 100px 15px;
  }
  body .steps-section .steps-container .last-step-button {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  body .work-section .work-container {
    flex-wrap: wrap;
  }
  body .work-section .work-container .work-left {
    padding-right: 15px;
    border-right: none;
  }
  body .work-section .work-container .work-right {
    margin-top: 50px;
    border-left: 1px solid #0D0D0D;
    padding-left: 30px;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  body .contact-section .contact-container {
    flex-wrap: wrap;
  }
  body .contact-section .contact-container .contact-left .question-username {
    margin-top: 30px;
  }
  body .contact-section .contact-container .contact-right {
    margin-top: 50px;
    padding-left: 15px;
    border-left: none;
  }
}
.button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid #0D0D0D;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
  transition-duration: 0.3s;
}
.button.visible {
  opacity: 1;
  transition-duration: 0.3s;
}
.button span {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  color: #0D0D0D;
}
.button:hover {
  background-color: #0D0D0D;
  transform: scale(1.1);
}
.button:hover span {
  color: #F2F2F2;
}

.menu {
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1254901961);
  background-color: #F2F2F2;
  border-bottom: 1px solid #0D0D0D;
}
.menu .website-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu .website-name a {
  font-size: 1.4em;
  font-weight: 500;
  text-transform: uppercase;
  color: #0D0D0D;
  letter-spacing: 2px;
}
.menu .pages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu .pages .page-item {
  position: relative;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
.menu .pages .page-item::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: #0D0D0D;
  transition-duration: 0.3s;
}
.menu .pages .page-item:hover::after {
  width: 100%;
}
.menu .pages .page-item a {
  font-size: 1em;
  color: #0D0D0D;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition-duration: 0.3s;
}
.menu .pages .contact-item::after {
  display: none;
}
.menu .pages .contact-item a {
  border: 1px solid #0D0D0D;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #0D0D0D;
}
.menu .pages .contact-item:hover a {
  background-color: #0D0D0D;
  color: #F2F2F2;
  transform: scale(1.1);
}

.cover-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  min-height: 65vh;
}
.cover-section .cover-left {
  padding: 0;
  position: relative;
}
.cover-section .cover-left .cover-title {
  display: flex;
  flex-wrap: wrap;
}
.cover-section .cover-left .cover-title span {
  font-size: 6em;
  font-weight: 300;
  width: 100%;
  line-height: 1.2em;
}
.cover-section .cover-left .cover-title p {
  margin-top: 20px;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 300;
}
.cover-section .cover-left .button {
  margin-top: 40px;
  margin-left: 15px;
}
.cover-section .cover-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.cover-section .cover-right div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.cover-section .cover-right div svg {
  width: 80% !important;
}

.about-section {
  padding: 100px 0;
}
.about-section .about-container {
  display: flex;
  justify-content: space-between;
}
.about-section .about-container .about-left {
  position: relative;
  padding-right: 50px;
}
.about-section .about-container .about-left span {
  font-size: 1em;
  font-weight: 300;
}
.about-section .about-container .about-left h2 {
  margin-top: 20px;
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
}
.about-section .about-container .about-left .work-illustration img {
  mix-blend-mode: multiply;
}
.about-section .about-container .about-left .work-illustration {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  mix-blend-mode: multiply;
}
.about-section .about-container .about-left .work-illustration img {
  mix-blend-mode: multiply;
  width: 100%;
  height: auto;
}
.about-section .about-container .about-left .work-illustration.visible {
  opacity: 1;
}
.about-section .about-container .about-left .work-illustration.visible img {
  mix-blend-mode: multiply;
}
.about-section .about-container .about-left .work-illustration.visible {
  opacity: 1;
}
.about-section .about-container .about-right {
  position: relative;
  border-left: 1px solid #0D0D0D;
  padding: 0 50px 50px 50px;
}
.about-section .about-container .about-right p {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 10px 0;
  padding: 20px 0;
  border-bottom: 1px solid #0D0D0D;
}
.about-section .about-container .about-right p:last-child {
  border-bottom: none;
}

/* About.css */
.about-right p {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about-right p.visible {
  opacity: 1;
}

.about-left h2 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about-left h2.visible {
  opacity: 1;
}

.about-left span {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about-left span.visible {
  opacity: 1;
}

.steps-section .steps-container {
  padding: 100px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.steps-section .steps-container .steps {
  margin: 30px 0;
  padding: 20px 50px;
  border-left: 1px solid #0D0D0D;
}
.steps-section .steps-container .steps .titleStep h4 {
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
}
.steps-section .steps-container .steps .textStep {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2em;
}
.steps-section .steps-container .last-step-button {
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 230px;
}
.steps-section .steps-title {
  padding: 50px 0;
  border-top: 1px solid #0D0D0D;
  border-bottom: 1px solid #0D0D0D;
  display: flex;
  justify-content: center;
}
.steps-section .steps-title h3 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 400;
}

/* Steps.css */
.steps {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.steps.visible {
  opacity: 1;
}

.steps-title {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.steps-title.visible {
  opacity: 1;
}

.work-section {
  position: relative;
  padding: 100px 0;
  border-top: 1px solid #0D0D0D;
}
.work-section .work-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-section .work-container .work-left {
  border-right: 1px solid #0D0D0D;
  padding-right: 50px;
  position: relative;
  display: block;
}
.work-section .work-container .work-left .work-left-sticky {
  position: sticky;
  top: 50px;
  display: block;
}
.work-section .work-container .work-left h3 {
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
}
.work-section .work-container .work-left p {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 20px;
  line-height: 1.2em;
}
.work-section .work-container .work-left .button {
  margin-top: 60px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.work-section .work-container .work-left .button.visible {
  opacity: 1 !important;
}
.work-section .work-container .work-left img {
  margin-top: 80px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  mix-blend-mode: multiply;
}
.work-section .work-container .work-left img.visible {
  opacity: 1 !important;
}
.work-section .work-container .work-right {
  padding-left: 50px;
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: ns-resize;
}
.work-section .work-container .work-right::-webkit-scrollbar {
  display: none;
}
.work-section .work-container .work-right .work-item {
  margin: 20px 0;
  transition-duration: 0.3s;
  border-bottom: 1px solid #0D0D0D;
  padding: 20px 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.work-section .work-container .work-right .work-item.visible {
  opacity: 1;
}
.work-section .work-container .work-right .work-item:last-child {
  border-bottom: none;
}
.work-section .work-container .work-right .work-item .work-item-main {
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}
.work-section .work-container .work-right .work-item .work-item-main:last-child {
  margin-top: -5px;
}
.work-section .work-container .work-right .work-item .work-item-main:last-child img {
  opacity: 0;
}
.work-section .work-container .work-right .work-item .work-item-main img {
  width: 30px;
  height: 30px; /* Safari/Chrome */
  filter: invert(100%);
  transform: rotate(270deg);
}
.work-section .work-container .work-right .work-item .work-item-main a {
  margin-left: 10px;
  font-size: 1.6em;
  font-weight: 300;
  text-transform: uppercase;
  cursor: zoom-in;
}
.work-section .work-container .work-right .work-item .work-item-main span {
  margin-left: 10px;
  font-size: 0.8em;
  font-weight: 300;
}
.work-section .work-container .work-right .work-item:hover .work-item-main {
  margin-left: 10px;
}
.work-section .work-container .work-right .work-item:hover a {
  font-weight: 400;
}

/* Work.css */
.work-left h3, .work-left p {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.work-left h3.visible {
  opacity: 1;
}

.work-left p.visible {
  opacity: 1;
}

.slick-slider {
  padding: 50px 0;
  border-top: 1px solid #0D0D0D;
  background-color: #0D0D0D;
  margin-left: -50px;
  margin-right: -50px;
}
.slick-slider .carousel-card-projects {
  display: flex !important;
  justify-content: center;
}
.slick-slider .carousel-card-projects span {
  font-size: 2.4em;
  font-weight: 300;
  text-transform: uppercase;
  color: #F2F2F2;
}

.tools-section {
  position: relative;
  padding: 50px 0;
}
.tools-section .tools-title {
  padding: 50px 0;
  border-top: 1px solid #0D0D0D;
  border-bottom: 1px solid #0D0D0D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools-section .tools-title span {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 300;
}

body .slick-slider {
  padding: 50px 0;
  border-top: 1px solid #0D0D0D;
  background-color: #0D0D0D;
  margin-left: -50px;
  margin-right: -50px;
}
body .slick-slider .slick-list .carousel-card {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
body .slick-slider .slick-list .carousel-card img {
  max-height: 100px;
}
body .slick-slider .slick-list .carousel-card span {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  color: #F2F2F2;
}

.contact-section {
  padding: 100px 0;
  border-top: 1px solid #0D0D0D;
}
.contact-section .contact-container {
  display: flex;
  justify-content: space-between;
}
.contact-section .contact-container .contact-left {
  position: relative;
}
.contact-section .contact-container .contact-left .contact-title {
  position: relative;
}
.contact-section .contact-container .contact-left .contact-title span {
  font-size: 1.2em;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.contact-section .contact-container .contact-left .contact-title span.visible {
  opacity: 1;
}
.contact-section .contact-container .contact-left .contact-title h3 {
  margin-top: 20px;
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.contact-section .contact-container .contact-left .contact-title h3.visible {
  opacity: 1;
}
.contact-section .contact-container .contact-left .question-username {
  display: block;
  margin-top: 150px;
  font-weight: 300;
  font-size: 1.2em;
}
.contact-section .contact-container .contact-left h4 {
  margin-top: 10px;
  font-size: 2em;
  font-weight: 300;
}
.contact-section .contact-container .contact-left h4 .username-greeting {
  text-decoration: underline;
  font-weight: 400;
  text-transform: capitalize;
}
.contact-section .contact-container .contact-right {
  padding-left: 50px;
  border-left: 1px solid #0D0D0D;
}
.contact-section .contact-container .contact-right .contact-form {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.contact-section .contact-container .contact-right .contact-form.visible {
  opacity: 1;
}
.contact-section .contact-container .contact-right .contact-form .form-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.contact-section .contact-container .contact-right .contact-form .form-group label {
  width: 100%;
  margin-top: 30px;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}
.contact-section .contact-container .contact-right .contact-form .form-group input {
  margin-top: 10px;
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #0D0D0D;
}
.contact-section .contact-container .contact-right .contact-form .form-group textarea {
  margin-top: 10px;
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #0D0D0D;
}
.contact-section .contact-container .contact-right .contact-form button {
  margin-top: 20px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid #0D0D0D;
  border-radius: 10px;
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.contact-section .contact-container .contact-right .contact-form button:hover {
  background-color: #0D0D0D;
  transform: scale(1.1);
  color: #F2F2F2;
}

.footer {
  position: relative;
  padding: 50px 0;
  border-top: 1px solid #0D0D0D;
  display: flex;
  justify-content: center;
}
.footer .footer-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer-container p {
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}
.footer .footer-container p span {
  font-weight: 400;
}
.footer .footer-container .social-media {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}
.footer .footer-container .social-media a {
  position: relative;
  margin: 0 20px;
  display: flex;
  justify-content: center;
}
.footer .footer-container .social-media a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -5px;
  background-color: #0D0D0D;
  transition-duration: 0.3s;
}
.footer .footer-container .social-media a:hover::after {
  width: 120%;
}

/* Cursor.scss */
html, body {
  cursor: none;
}

.color {
  position: absolute;
  top: calc(50vh - 30px);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  mix-blend-mode: difference !important;
}

.cursor {
  position: fixed;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference !important;
  z-index: 111;
}

.cursor:nth-child(1) {
  background-color: #ffffff;
}

.cursor:nth-child(2) {
  background-color: #fefefe;
  width: 22px;
  height: 22px;
  transition: width 400ms ease, height 400ms ease;
}

.cursor {
  pointer-events: none;
}

.anchor-top {
  width: 50px;
  height: 50px;
  background-color: #0D0D0D;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 100%;
  padding: 10px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  z-index: 11;
  mix-blend-mode: difference !important;
}
.anchor-top span {
  font-size: 1em;
  text-transform: uppercase;
  color: #F2F2F2;
  text-align: center;
  display: none;
}
.anchor-top img {
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
}
.anchor-top:hover {
  transform: scale(1.4);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0 20px;
  background-color: #F2F2F2;
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */