/* Cursor.scss */

html, body {
  cursor: none;
}


.color {
  position: absolute;
  top: calc(50vh - 30px);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  mix-blend-mode: difference!important;
}

.cursor {
  position: fixed;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference!important;
  z-index: 111;
}

.cursor:nth-child(1) {
  background-color: #ffffff;
}

.cursor:nth-child(2) {
  background-color: #fefefe;
  width: 22px;
  height: 22px;
  transition: width 400ms ease, height 400ms ease;
}

.cursor {
  pointer-events: none;
}